@media (max-width: 767px) {
    main {
        margin: 10px 0;
        height: 100vh !important;
        width: 400px !important;
    }

    .container {
        display: block;
        height: 100% !important;
    }

    .container > div {
        height: calc(100% / 3) !important;
    }

    .container > div img {
        width: 40px;
    }

    .container > div:first-child {
        border-radius: 10px 10px 0 0;
    }

    .container > div:last-child {
        border-radius: 0 0 10px 10px;
    }

    h1, p {
        margin: 5px 0 10px 0;
    }
}

* {
    text-transform: capitalize;
    box-sizing: border-box;
}

main {
    height: 100vh !important;
}

.container {
    height: 60%;
}

.container > div {
    height: 100%;
}

.container > div h1 {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.container > div p {
    color: rgb(240, 240, 240);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    font-size: 0.8em;
    line-height: 1.5;
}

.container > div button {
    border: 1px solid white;
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px;
    font-weight: 400;
    width: 120px;
    border-radius: 12px;
    transition: 0.4s;
}

button:hover {
    color: white;
    background-color: transparent;
}
